In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_csv('Diabetes data.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [4]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [5]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [7]:
zero= (df == 0).sum()
zero

Pregnancies                 111
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                     500
dtype: int64

In [9]:
new_df=df.drop(['Insulin','SkinThickness'],axis=1)

In [10]:
new_df

,Pregnancies,Glucose,BloodPressure,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,33.6,0.627,50,1
1,1,85,66,26.6,0.351,31,0
2,8,183,64,23.3,0.672,32,1
3,1,89,66,28.1,0.167,21,0
4,0,137,40,43.1,2.288,33,1
...,...,...,...,...,...,...,...
763,10,101,76,32.9,0.171,63,0
764,2,122,70,36.8,0.340,27,0
765,5,121,72,26.2,0.245,30,0
766,1,126,60,30.1,0.349,47,1
767,1,93,70,30.4,0.315,23,0

In [35]:
from sklearn.model_selection import train_test_split
X=new_df.drop(['Outcome'],axis=1)
y=new_df.Outcome
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X)
X_standard = scaler.transform(X)
X_train,X_test,y_train,y_test= train_test_split(X_standard,y,test_size=0.2,random_state=52)

In [19]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier

In [21]:
model_1=LogisticRegression()
model_2=SVC()
model_3=RandomForestClassifier()
model_4=XGBClassifier()

In [16]:
from sklearn.metrics import classification_report

In [36]:
#logisitic regression
model_1.fit(X_train,y_train)
y_pred = model_1.predict(X_test)
report = classification_report(y_test, y_pred)
print("Classification Report for logistic :\n", report)

Classification Report for logistic :
               precision    recall  f1-score   support

           0       0.82      0.85      0.83       100
           1       0.70      0.65      0.67        54

    accuracy                           0.78       154
   macro avg       0.76      0.75      0.75       154
weighted avg       0.78      0.78      0.78       154

In [37]:
#svm
model_2.fit(X_train,y_train)
y_pred = model_2.predict(X_test)
report = classification_report(y_test, y_pred)
print("Classification Report for SVM :\n", report)

Classification Report for SVM :
               precision    recall  f1-score   support

           0       0.80      0.88      0.84       100
           1       0.73      0.59      0.65        54

    accuracy                           0.78       154
   macro avg       0.76      0.74      0.75       154
weighted avg       0.77      0.78      0.77       154

In [38]:
#random forest
model_3.fit(X_train,y_train)
y_pred = model_3.predict(X_test)
report = classification_report(y_test, y_pred)
print("Classification Report for random forest:\n", report)

Classification Report for random forest:
               precision    recall  f1-score   support

           0       0.84      0.89      0.86       100
           1       0.77      0.69      0.73        54

    accuracy                           0.82       154
   macro avg       0.81      0.79      0.79       154
weighted avg       0.82      0.82      0.82       154

In [49]:
#xgb
model_4.fit(X_train,y_train)
y_pred = model_4.predict(X_test)
report = classification_report(y_test, y_pred)
print("Classification Report for xgb :\n", report)

Classification Report for xgb :
               precision    recall  f1-score   support

           0       0.82      0.78      0.80       100
           1       0.63      0.69      0.65        54

    accuracy                           0.75       154
   macro avg       0.72      0.73      0.73       154
weighted avg       0.75      0.75      0.75       154

In [50]:
import joblib
joblib.dump(model_3, 'diabetes_predictor.pkl')

['diabetes_predictor.pkl']

In [56]:
def predict_diabetes(new_data):
    model = joblib.load('diabetes_predictor.pkl')
    new_data_df = pd.DataFrame([new_data], columns=['Pregnancies','Glucose','BloodPressure','BMI','DiabetesPedigreeFunction','Age'])
    scaled_data = scaler.transform(new_data_df)
    prediction = model.predict(scaled_data)
    return prediction

In [57]:
new_patient_data = [6,148,72,33.6,0.627,500]
prediction = predict_diabetes(new_patient_data)
print("Prediction for new patient (1=Diabetic, 0=Not Diabetic):", prediction)

Prediction for new patient (1=Diabetic, 0=Not Diabetic): [1]